@model IEnumerable<FlightManager.Web.Models.FlightViewModel>

@{
    ViewData["Title"] = "List";
}

<h2>Flights</h2>

<p>
    <a asp-action="AddNew">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.OriginAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceInKM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OriginAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceInKM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FlightId">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
